{% extends "base.twig" %}

{% block body %}
    <div class="container-fluid">
        <div class="row holidays-widgets-row">
            <div class="col-3">
                <div class="small-box {% if holidayCurrentDays > 0 %}bg-gradient-lightblue{% else %}bg-gradient-danger{% endif %}">
                    <div class="inner">
                        <h3>{{ holidayCurrentDays }}</h3>

                        <p>Concediu odihna</p>
                    </div>
                    <div class="icon">
                        <i class="fas fa-plane-departure"></i>
                    </div>
                    <a href="#" class="small-box-footer">
                        Concediu nou <i class="fas fa-arrow-circle-right"></i>
                    </a>
                </div>
            </div>
            <div class="col-3">
                <div class="small-box {% if wfhCurrentDays > 0 %}bg-gradient-orange text-white{% else %}bg-gradient-danger{% endif %}">
                    <div class="inner">
                        <h3>{{ wfhCurrentDays }}</h3>

                        <p>Munca de acasa #WFH</p>
                    </div>
                    <div class="icon">
                        <i class="fas fa-laptop-house"></i>
                    </div>
                    <a href="#" class="small-box-footer">
                        #WFH time <i class="fas fa-arrow-circle-right"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}