{% extends "base.twig" %}

{% block javascripts %}
    <script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
    <script>
        var quill = new Quill('#editor', {
            theme: 'snow'
        });
    </script>
{% endblock %}

{% block stylesheets %}
    <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div id="editor">
            <p>
                <strong>IT GENETICS S.R.L.</strong></p>
            <p>Cod fiscal:&nbsp;<strong>RO21310535</strong></p>
            <p>Nr. de înregistrare:&nbsp;<strong>J40/4836/2007</strong></p>
            <p class="ql-align-center"><br></p>
            <p class="ql-align-center"><br></p>
            <p class="ql-align-center"><br></p>
            <p class="ql-align-center"><br></p>
            <p class="ql-align-center"><br></p>
            <p class="ql-align-center"><br></p>
            <p class="ql-align-center"><strong class="ql-size-large"><u>CERERE DE CONCEDIU DE ODIHNĂ</u></strong></p>
            <p><br></p>
            <p><br></p>
            <p><br></p>
            <p><br></p>
            <p><br></p>
            <p>Subsemnatul <strong>MIHAI ALEXANDRU</strong>, marca nr. <strong> . . . . . . . . . . . . . . . . . . . .
                    . . . . . </strong>, cu funcția de <strong> . . . . . . . . . . . . . . . . . . . . . . . .
                    . </strong>, în cadrul <strong>IT GENETICS S.R.L.</strong>, vă rog să îmi aprobaţi concediul legal
                de odihnă pentru anul <strong> . . . . . . . . . . . . . . . . . . . . . . . . . </strong> începând cu
                data de&nbsp;<strong> . . . . . . . . . . . . . . . . . . . . . . . . . </strong>&nbsp;până la <strong>
                    . . . . . . . . . . . . . . . . . . . . . . . . . </strong>, respectiv&nbsp;<strong> . . . . . . . .
                    . . . . . . . . . . . . . . . . . </strong> zile lucrătoare.</p>
            <p><br></p>
            <p>Solicit în avans următoarele drepturi bănești aferente concediului legal de odihnă:</p>
            <p>Da&nbsp;<span class="ql-size-large">□</span>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                &nbsp;Nu&nbsp;<span class="ql-size-large">□</span></p>
            <p>- Prima de vacanță&nbsp;<span class="ql-size-large">□</span></p>
            <p>- Avans pentru concediu&nbsp; <span class="ql-size-large">□</span></p>
            <p></p>
            <p><br></p>
            <p>Am luat la cunoştinţă, faptul că întreruperea concediului de odihnă se poate face pentru nevoi de
                serviciu neprevăzute şi urgente în baza unei dispoziţii scrise a angajatorului.</p>
            <p><br></p>
            <p>Zile de concediu disponibile:&nbsp;<strong> . . . . . . . . . . . . . . . . . . . . . . . . . </strong>
            </p>
            <p>Zile de concediu care vor ramane dupa efectuarea prezentului concediu:&nbsp;<strong> . . . . . . . . . .
                    . . . . . . . . . . . . . . . </strong></p>
            <p>&nbsp;</p>
            <p><br></p>
            <p>DATA:&nbsp;</p>
            <p><strong> . . . . . . . . . . . . . . . . . . . . . . . . . </strong></p>
            <p><br></p>
            <p>SOLICITANT:</p>
            <p>. . . . . . . . . . . . . . . . . . .</p>
            <p><br></p>
            <p>- În această perioadă angajatul este înlocuit de&nbsp;<strong> . . . . . . . . . . . . . . . . . . . . .
                    . . . . </strong></p>
            <p>- Luat la cunoștință înlocuitor – semnătura: . . . . . . . . . . . confirmare prin email data&nbsp;. . .
                . . . . . . . .</p>
            <p>- Concediul de odihnă va fi efectuat conform programării: </p>
            <p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Da <span class="ql-size-large">□</span>&nbsp;(perioada . . . .
                . . . . . . . .)&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Nu&nbsp;<span
                        class="ql-size-large">□</span></p>
            <p><br></p>
            <p><br></p>
            <p><br></p>
            <p><br></p>
            <p>DIRECTOR SUPERIOR</p>
            <p>. . . . . . . . . . . . . . . . . . . .</p>
            <p>ȘEF IERARHIC</p>
            <p>. . . . . . . . . . . . . . . . . . . .</p>
            <p><br></p>
        </div>
        <div class="ql-editor">
            </div>
    </div>
{% endblock %}